@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
    --color-bg: #c4bcaf;
    --color-font: rgb(38, 25, 17);

    --color-one: rgb(102, 74, 50);
    --color-two: rgb(191, 175, 160);
    --color-three: rgb(249, 246, 239);
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

p {
    margin-bottom: 1.5rem;
}

a {
    color: var(--color-font);
    text-decoration: none;
}

section:not(.section--hero) {
    margin: 6rem 0;
}

.section__content {
    padding: 3rem;
}

.section__title {
    margin-bottom: 4.5rem;
    text-align: center;
}

.section__title span {
    font-size: 4.5rem;
    position: relative;
    text-align: center;
}

.section__title span::before,
.section__title span::after {
    background-color: var(--color-font);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 320px;
}

.section__title span::before {
    left: calc(-4.5rem - 320px);
}

.section__title span::after {
    right: calc(-4.5rem - 320px);
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1.5rem 3rem;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.nav__item {
    margin-left: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.section--hero {
    height: calc(100vh - 80px);
}

.section__content--hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}

.hero__title {
    font-size: 4.2rem;
    margin-bottom: .75rem;
}

.hero__content {
    text-align: center;
}

.hero__content span {
    border-right: 1px solid var(--color-font);
    font-size: 1.1rem;
    padding: 0 .5rem;
    opacity: .75;
    position: relative;
    text-transform: uppercase;
}


.hero__content span:last-child{
    border-right: 0;
}

.timeline {
    margin-top: 1.5rem;
}
 
.biography {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    gap: 4.5rem;
}

.publications {
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer {
    text-align: center;
}