@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@300;400;700&display=swap');

:root {
    --color-bg: #c4bcaf;
    --color-font: #202020;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-font);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

.section__content {
    padding: 3rem;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 1.5rem 3rem;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.nav__item {
    margin-left: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
}

.hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;;
}

.hero__title {
    font-size: 3.5rem;
}