@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600,700&family=Playfair+Display:wght@400;700&display=swap');

:root {
    --color-bg: #c4bcaf;
    --color-font: #261911;

    --color-zero: #7c5f45;
    --color-one: #664a32;
    --color-two: #bfafa0;
    --color-three: #f9f6ef;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    color: var(--color-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

p {
    margin-bottom: 1.5rem;
}

a {
    border-bottom: 1px dashed var(--color-font);
    color: var(--color-font);
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a:hover {
    border-color: var(--color-zero);
    color: var(--color-zero);
}

section:not(.section--hero) {
    margin: 6rem 0;
    padding: 0 1.5rem;
}

.section__content {
    margin: 0 auto;
    max-width: 1200px;
}

.section__title {
    margin-bottom: 3rem;
    position: relative;
    text-align: center;
}

.section__title span {
    background-color: var(--color-bg);
    font-size: 2.4rem;
    padding: .75rem 1.5rem;
    position: relative;
    text-align: center;
}

.section__title::before {
    background-color: var(--color-font);
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
}

.header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.5rem 3rem;
    width: 100%;
}

.nav {
    background-color: var(--color-bg);
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
}


.nav__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    z-index: 10;
}

.nav__item {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    opacity: .6;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__item:hover {
    opacity: 1;
}

.burgerMenu {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 3rem;
    z-index: 11;
}

.section--hero {
    height: calc(100vh - 80px);
}

.section__content--hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
}

.hero__graphics img {
    height: 300px;
}

.hero__copyright,
.species__copyright {
    font-size: 9px;
    text-align: center;
}

.hero__content {
    margin-top: 1.5rem;
    text-align: center;
}

.hero__content span {
    border-right: 1px solid var(--color-font);
    font-size: .9rem;
    padding: 0 .5rem;
    opacity: .75;
    position: relative;
    text-transform: uppercase;
}

.hero__content span:last-child{
    border-right: 0;
}

.hero__title {
    font-size: 3rem;
    margin-bottom: .75rem;
}

.timeline {
    margin-top: 1.5rem;
}

.career {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

.career__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.career__years {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--color-font);
    color: var(--color-bg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1.5rem;
}

.career__content {
    padding: 1.5rem 0;
    text-align: center;
}

.career__content p {
    font-size: 1.1rem;
    margin-bottom: 0;
}

.career__role {
    font-weight: 700;
}

.career__institution {
    font-size: 14px;
    font-style: italic;
    opacity: .75;
}

.species {
    text-align: center;
}

.species__img {
   width: 240px;
}

.species__name {
    font-style: italic;
}

.species__name--main {
    font-size: 1.5rem;
    margin: 1.5rem 0 0
}

.species__name--alt {
    font-size: 1.2rem;
    margin: 0 0 1.5rem;
    opacity: .75;
}

.species__pub {
    font-size: 13px;
    margin: 0 auto;
    width: 90%;
}

.search {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 4.5rem;
    text-align: right;
}

.search__total {
    margin-top: 1.5rem;
}

.search__input {
    background-color: var(--color-two);
    border: 1px solid var(--color-font);
    padding: .75rem;
    width: 100%;
}

.search__input:focus-visible {
    outline: 2px solid var(--color-font);
}

.publications {
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
}

.publication {
    font-size: 14px;
}

.publication__author {
    text-transform: uppercase;
}

.publication__source {
    font-style: italic;
    opacity: .85;
}

.footer {
    text-align: center;
}



/* Scroll to Top */
.scrollTop {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--color-font);
    border-radius: 10px;
    bottom: 3rem;
    color: var(--color-bg) !important;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.5rem;
    font-weight: 700;
    height: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 1.5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 3rem;
}

.scrollTop.active {
    opacity: 1;
    pointer-events: all;
}

@media all and (min-width: 480px) {

    .hero__graphics img {
        height: 420px;
    }

    .hero__content span {
        font-size: 1rem;
    }

    .species__img {
        width: 320px;
     }

    .career__item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .career__content {
        padding: 1.5rem;
        text-align: left;
    }

    .search__input {
        width: 60%;
    }
}

@media all and (min-width: 600px) {

    .hero__content span {
        font-size: 1.1rem;
    }

    .biography {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        gap: 3rem;
    }

    .species__name--main {
        font-size: 2rem;
    }
    
    .species__name--alt {
        font-size: 1.5rem;
    }
    
    .species__pub {
        font-size: 1rem;
    }

    .species__img {
        width: auto;
     }

     .search {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
     }

     .search__total {
        margin-top: 0;
     }

     .search__input {
        max-width: 480px;
        width: 60%;
    }
   
    .publications {
        grid-template-columns: repeat(2, 1fr);
    }

    .publication {
        font-size: 15px;
    }
}

@media all and (min-width: 768px) {

    .nav {
        display: block;
    }

    .burgerMenu {
        display: none;
    }

    .nav {
        position: relative;
        top: unset;
        left: unset;
        height: auto;
        width: auto;
    }

    .nav__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .nav__item {
        font-size: 1.1rem;
        margin-left: 1.5rem;
    }

    .section__title span {
        font-size: 4.5rem;
        padding: .75rem 6rem;
    }

    .hero__graphics img {
        height: auto;
    }

    .career {
        grid-template-columns: repeat(2, 1fr);
    }

    .publications {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media all and (min-width: 1100px) {

    body {
        font-size: 1.2rem;
    }


    .hero {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .hero__title {
        font-size: 4.2rem;    
    }

    .header {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .section__title {
        margin-bottom: 6rem;
    }

    .biography {
        gap: 4.5rem;
    }

    .species__pub {
        margin: 0 auto;
        width: 40%;
    }

    .publications {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (min-width: 1400px) {
/*  */
}